
.rating i{
    color: crimson;
    margin: 5px 0;
    padding-right: 5px;
    cursor: pointer;
}
.rating .star{
    position: relative;
    display: inline-block;
}
.rating span{
    display: inline-block;
    transform: translateY(1px);
    font-size: 18px;
}
.rating .star-1{
    position: absolute;
    top:0;
    left: 0;
    width: 121px;
    overflow: hidden;
   
}
