.form_input{
    margin: 10px 0 ;
}
.form_input input{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding:5px 10px;
    min-height: 40px;
    outline: none;
}
.form_input button{
    width: 150px;
    padding:10px 0;
    background: #333;
    color: #fff;
    margin: 20px 0;
}